<form action="/add" method="post">
	<p>titulo</p>
	<input type="text" name="titulo">
	<p>conteúdo: </p>
	<textarea name="conteudo"></textarea>
	<button type="submit">cadastrar postagem</button>
</form>